/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');


/* Override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic projecy styles*/
    color: #3a3a3a;
    font-family: 'Quicksand', sans-serif;
}

/* Header */
header {
    background-color: #F8F5F1;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

/* Main content */
main {
    background-color: #B9A9C9;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #A3C4BC;
}